<!DOCTYPE html>
<html>
<head>
	<title>Ideator</title>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
		<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
	<link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
</head>

<body>
	<div id="wrap">

		<nav class="navbar-default">
			<div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#">Ideator</a>
				</div>

				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav navbar-right">
						<li><a href="#">All Ideas</a></li>
						<li><a href="#">Inspire Me</a></li>
						<li><a href="#">About</a></li>
					</ul>
				</div><!-- /.navbar-collapse -->
			</div><!-- /.container-fluid -->
		</nav>
	</div>
	
<%= yield %>

	<div id="footer">
		<div class="container">
			<div class = "col-xs-12 col-md-4">
				<h4>Contact</h4>
				<p>sample@gmail.com</p>
			</div>
			<div class = "col-xs-12 col-md-4">
				<h4>Find Us</h4>
				<div style = "font-size: 40px;"
					<a href = "#"><i class="fa fa-facebook-official social" ></i></a>
          			<a href = "#"><i class="fa fa-twitter-square social" ></i></a>
          			<a href = "#"><i class="fa fa-linkedin-square social" ></i></a>
				</div>
			</div>
			<div class = "col-xs-12 col-md-4">
				<h4>© Techrise 2016</h4>
				<p>All Rights Reserved</p>
			</div>
		</div>
	</div>

</body>
</html>






